[Unit]
Description=Wall Shuff Background Daemon
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/bin/wall_shuffd
Restart=on-failure
RestartSec=5
TimeoutStopSec=3

[Install]
WantedBy=graphical-session.target
