[Unit]
Description=Trigger Wallpaper swap
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/wall_shuff
StandardOutput=journal
StandardError=journal

